header{
    background-color: white;
    border-bottom: 2px solid black;
  }
  .a{
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: block;
    
}
h1{
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    padding: 38px;
    margin-top: -1px;
    font-size: 24px;
    
}
.b{
    float: right;
    margin-top: -46px;
    font-size: 24px;
    word-spacing: 12px;
    
  }
  li{
    display: inline;
  }
  a{
    text-decoration: none;
  }
  .p1esas{
    margin: 0 auto;
    height: 100vh;
    width: 960px;
    max-width: 960px;
    display: flex;
    

  }
  .portfolio{
    border: 1px solid black;
    width: 650px;
    max-width: 650px;
    height: 500px;
    margin-top: 30px;
    background-color: white;
    
  }
  .connect{
    height: 200px;
    width: 270px;
    max-width: 270px;
    margin-top: 19px;
    margin-left: -3px;

  }
  .program{
    width: 270px;
    background-color: #ffffff;
    height: 250px;
    margin-left: 37px;
    margin-top: 31px;
    border: 1px solid black;
  }
  h3{
    color: #4aaaa5;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
  }
  .pro{
    width: 250px;
    max-width: 250px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .logo1{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .logo2{
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }
  .github{
    display: inline;
  }
  .linkedIn{
    display: inline;
  }
  .instagram{
    display: inline;
  }
  .logo3{
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }
  body{
    background:url(../img/mixkit-blue-bubbles-295-0.jpg) ;
  }